{#
    Author: Mikael Karlsson <i8myshoes@gmail.com>
    Copyright: 2014  CSC - IT Center for Science Ltd, Finland
    License: GNU Affero General Public License version 3 (AGPLv3)
#}

{% ckan_extends %}

{% block secondary_content %}
  {% resource 'ckanext-timeline/timeline' %}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-clock-o"></i>
      <a href="#timelineModal" data-toggle="modal">{{ _('Filter by time') }}</a>
      <a href="{{ h.remove_url_param(['ext_timeline_start', 'ext_timeline_end']) }}" class="action">{{ _('Clear') }}</a>
    </h2>
    <div class="module-content" id="timeline">
      <div>
          <label for="start" class="search-time-label add-on">{{ _('Start') }}</label>
          <input class="search-time-box" type="text" id="start" data-toggle="tooltip" data-placement="top"
                 data-animation="false" placeholder="-0342-06-13"
                 pattern="[-\+]?[0-9]{1,6}(-[0-1][0-9](-[0-3][0-9]( [0-2][0-9](:[0-5][0-9](:[0-5][0-9])?)?)?)?)?"/>
      </div>
      <br/>
      <div>
          <label for="end" class="search-time-label add-on">{{ _('End') }}</label>
          <input class="search-time-box" type="text" id="end" data-toggle="tooltip" data-placement="bottom"
                 data-animation="false" placeholder="1504-12-31 18:20:41"
                 pattern="[-\+]?[0-9]{1,6}(-[0-1][0-9](-[0-3][0-9]( [0-2][0-9](:[0-5][0-9](:[0-5][0-9])?)?)?)?)?"/>
      </div>
      <div class="input-prepend" hidden="">
          <span class="add-on">{{ _('q') }}:</span>
          <input type="text" class="span2" id="timeline-q" value="{{ c.timeline_q }}"/>
      </div>
      <div class="input-prepend" hidden="">
          <span class="add-on">{{ _('fq') }}:</span>
          <input type="text" class="span2" id="timeline-fq" value="{{ c.timeline_fq }}"/>
      </div>
    </div>
    <div id="timelineModal" class="modal hide fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="myModalLabel">{{ _('Filter by time') }}</h3>
        </div>
        <div class="modal-body">
            <div id="big-chart"></div>
            <div id="small-chart"></div>
        </div>
        <div class="modal-footer">
            <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary" data-dismiss="modal" id="apply">Apply</button>
        </div>
    </div>
  </section>

  {{ super() }}
{% endblock %}
